/*Config n app setup stuff*/
:root {
    --text: #2f2f37;
    --background: #F8F8F9;
    --primary: #1f90d6;
    --secondary: #81bcd9;
    --secondaryshade1: #A1CDE4 ;
    --accent: #3c6138;
    --accentshade1: #638160;
}

@import url('https://fonts.googleapis.com/css?family=Noto%20Serif:700|Noto%20Serif:400');


body {
  font-family: 'Noto Serif';
  font-weight: 400;

  background-color: var(--background);
}

#maincontent {
  margin: 1rem;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
  /* font-weight: 700; */
  color: var(--text);
}

html {font-size: 100%;} /* 16px */

h1 {
  font-size: 2.489rem; /* 39.84px */
  margin-bottom: 0;
}


h2 {font-size: 2.074rem; /* 33.12px */}

h3 {font-size: 1.728rem; /* 27.68px */}

h4 {font-size: 1.440rem; /* 23.04px */}

h5 {font-size: 1.200rem; /* 19.2px */}

small {font-size: 0.833rem; /* 13.28px */}

/*Actual stuff*/

/*Header / website title*/
#title > h1 {
  font-size: 3rem;
 
}

#subtitle > p {
  font-size: 1.44rem;
  text-align: center;
  margin: 0%;
  padding: 0 3em 0.275em 11px ; /*TODO -- may need to fix*/
}

#subtitle {
  display: flex;
  align-items: center;
}

.titlerow {
  border-bottom: 5px var(--secondary) solid;
}

#titlerow-right {
  flex-grow: 1; /*Flex grow: 1 tells the div to fill 100% of the free space*/
}

/*About section*/
#info {
  display: flex;
  flex-direction: column;
}

.info-text {
  color: var(--background);
  margin: 0;
}

.info-img {
  padding: 0 0.5rem 0 0.5rem;
}

.info-card {
  background-color: var(--secondary);
}

.info-card-light {
  background-color: var(--secondaryshade1);

}

.info-card-light-wrapper {
  display: flex;
  justify-content: right;
}

.info-card, .info-card-light {
  display: inline-block;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0 0 2rem 0;
  width: fit-content
}



.fill {
  flex-grow: 1;
}

.info-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--accent);
}

.info-content {
  display: flex;
  align-items: center;
  padding: 0 max(2rem, 15vw) 2rem max(2rem, 15vw);
}

/*Map, sidebar and search buttons*/
#map-container {
  display: flex;
  height: 55rem;
  margin: 0 0 4rem 0;
}

#map-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  width: 6rem;
  padding: 1rem 0 1rem 0;
}

.sidebar-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent);
  border: 0;
  border-radius: 10px;
  height: 4rem;
}

.sidebar-img {
  justify-self: center;
  max-width: 90%;
  max-height: 90%;
}

/*Search button*/
.sidebar-btn:last-of-type {
  margin-top: auto;
}

.sidebar-btn:hover {
  background-color: var(--accentshade1);
}

#map {
  flex-grow: 1;
}

footer {
  background-color: var(--secondary);
  height: 5rem;
}